/*Custom styles*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 16px;
}

@media (min-width:768px) {
  .login-box{width:420px}
}

.margin-left {
  margin-left: 15px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 10px; 
}

.footer-margin-right {
  margin-right: 50px;
}

.footer-margin-left {
  margin-left: 30px;
}

.account-info-display {
  display: -webkit-box
}

.navbar-margin-right {
  margin-right: 30px;
}

.navbar-image-margin-left {
  margin-left: 35px;
}